<div class="footer">

  <h1 class="m-b-0">SUNSET CLIFFS PILATES</h1>
    
  <a href="#">
    4720 Point Loma Ave
    San Diego, CA 92107
  </a>
  &nbsp;|&nbsp;
  <a href="tel:619-224-3309">
    (619) 224-3309
  </a>

  <div class="m-1 flex justify-center">

    <a>
      <img
        src="/assets/images/social/yelp.png"
        class="social-icon"
      />
    </a>

    <a>
      <img
        src="/assets/images/social/fb.png"
        class="social-icon"
      />
    </a>

    <a>
      <img
        src="/assets/images/social/ig.png"
        class="social-icon"
      />
    </a>

  </div>

  <div>
    <h3 class="m-50">
      Stay in the loop! Receive news and special offers.
    </h3>

    <input
      type="text"
      class="newsletter-signup"
      placeholder="Enter your e-mail"
    >

    <input
      type="image"
      src="/assets/images/social/submit.png"
      alt="Newsletter Signup"
      class="vertical-middle"
    />
  </div>

  <div
    id="footer-scrolltop"
    class="scrolltop"
  >
    <img src="/assets/images/social/up.png" />
    <h4 class="m-0 color-black">(to top)</h4>
  </div>
</div>