.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 71, 171, .9);
  color: white;
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .link {
    padding: 0 1em;
    letter-spacing: 2px;
  }
  .link--home {
    width: 52px;
    > img {
      width: 100%;
    }
  }
}