<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Sunset Cliffs Pilates</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  {% include header-links.html %}

  <meta name="theme-color" content="#fafafa">
</head>

<body class="home-container">
  {% include top-nav.html %}
  <div class="hero">
    <div class="hero__text">

      <h1>
        Sunset Cliffs Pilates
      </h1>

      <h5>
        Shaping, sculpting, and strengthening bodies, inside and out!
      </h5>

    </div>
  </div>
</body>

</html>
